<div class="col-xs-12 col-sm-3">
  <% if cocktail.photo.presence %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path(cocktail.photo.url) %>');">
    <% else %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('card.jpg') %>');">
    <% end %>

    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2><%= cocktail.name %></h2>
      <p>Very cool cocktail</p>
    </div>
    <i class="fas fa-glass-martini card-user"></i>
    <a class="card-link" href="<%= cocktail_path(cocktail) %>" ></a>
  </div>
</div>
